# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for data science
* List popular opensource data science tools
* List popular libraries used by data scientists

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Keras
4. scikite-learn
5. tensorflow

|Data Science Tools|
|-----|
|RStudio|
|Jupyter Notebook|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/ 60

3.3333333333333335

## Author
Joseph Anderson